/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.btn {
    display: inline-block;
    background-color: #ff914d;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}

.btn:hover {
    background-color: #fda168 ;
    transition-duration: 1s;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.social-media-img {
    width: 50px;
}

span {
    text-decoration: underline;
    font-weight: bolder;
}

/* INDEX HEADER STYLE */

header {
    display: grid;
    background-color: #ff914d;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    width: 100%;
    height: 10vh;
    
}

.logo {
    width: 70px;
    margin-left: 20%;

}

nav {
    
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul a {
    padding: 0 1rem;
    color: white;
    font-size: 3vh;
}

nav ul a:hover {
    text-decoration: underline;
    transition-duration: 2s;
    transition: ease-in;    
}

/* INDEX SECTION US */

.section-us {
    background-color:#ffbd59;
    border-radius: 30px;
}

.section-us {
    margin: 4rem;


}

.section-us h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

.section-us p {
    margin: 15px;
    color: white;
    font-size: 22px;
}

.section-us .btn {
    margin-left: 30px;

}

.bank {
    width: 200px;
    justify-self: right;
    margin: 10%;
}

.section-us .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

/* INDEX SECTION CREDIT CARD */

.section-card {
    position: relative;
    background: url(./images/creditcard-background.jpg) no-repeat center/cover;
    height: 300px;
}

.section-card-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    max-width: 860px;
    padding: 0 4rem;
   
}

.section-card-inner .btn {
    margin-top: 2rem;
}

.section-card-inner h3 {
    font-size: 2rem;
}
.section-card-inner h2 {
    font-size: 3rem;
}
.section-card-inner p {
    font-size: 20px;
}


/* INDEX BANK ACCOUNT SECTION */

.section-bank {
    margin: 15vh 0;
    position: relative;
    background: url(./images/bank-background.jpg) no-repeat center/cover;
    height: 300px;
}

.section-bank-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 860px;
    padding: 0 4rem;
}

.section-bank-inner h2 {
    font-size: 2.2rem;
}

.section-bank-inner p {
    font-size: 20px;
}

.section-bank-inner .btn {
    margin-top: 2rem;
}

/* INDEX FOOTER STYLE */

footer {
    display: grid;
    background-color: #ff914d;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;

    width: 100%;
    height: 30vh;


}

footer .logo {
    left: 0;
    height: 200px;
    width: 200px;
}


.social-media {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    

}

.social-media .social-media-img {
    padding: 10px;
}

.ul-footer {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;

}

.ul-footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.ul-footer ul a {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 2vh;
}

/* CREDIT CARD PAGE STYLE */

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    margin: 5vh 0;
    background-color: #ffbd59;
}
.card-info img {
    width: 300px;
    margin: 10%;
}

.card-info h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.card-info p {
    font-size: 22px;
    color: white;
    margin: 15px 0;
}

/* BANK ACCOUNT PAGE STYLE */

.bank-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
    background-color: #ffbd59;
}

.bank-info img {
    width: 300px;
    margin: 10%;
}

.bank-info h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.bank-info p {
    font-size: 22px;
    color: white;
    margin: 15px 0;
}

.bank-withdraw {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
    background-color: #ffbd59;
}

.bank-withdraw img {
    width: 300px;
    margin: 10% 20% 10% 0;
    justify-self: flex-end;
}

.bank-withdraw h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.bank-withdraw p {
    font-size: 22px;
    color: white;
    margin: 15px 0;
}